@charset "UTF-8";
a{
    text-decoration: none;
    color:#797979;
}
.content{
    width: 460px;
    height: auto;
    border:1px solid #dddddd;
    margin: 0 auto;
    margin-top: 250px;
    padding: 70px 50px;
    position: relative;
}
h1{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left:40%;
    top: -80px;
}
form{
    padding-bottom: 50px;
}
input{
    display: block;
    margin: 0 auto;
}
[type="text"],[type="password"]{
    width: 90%;
    height: auto;
    border-style: none;
    border-bottom: 1px solid #dddddd;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 10px;
}
.radio{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
[type="radio"]{
    margin: 10px 8px 20px 0;
    display: inline;
}
[type="submit"]{
    width: 90%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border-style: none;
}
.login{
    background-color: #FEE500;
}
.join{
    position: absolute;
    right: 14%;
    bottom: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.join>li{
    display: inline;
    font-size: 12px;
    margin-left: 3px;
}
.join>li:nth-child(2)>a::before,.join>li:nth-child(3)>a::before{
    content: '';
    background-color: #dddddd;
    padding: 0 0.5px;
    margin-right: 4px;
}
.footer{
    width: 25%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    display: block;
}
.footer>li{
    display: inline;
    margin: 0 4px;
    font-size: 14px;
    vertical-align: middle;
}
li>a:hover{
    color:#333;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 13px;
    color: #797979;
    margin-top: 14px;
}
span{
    color:#333;
}