@charset "UTF-8";
@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'EASTARJET-Medium';
}
#wrap{
    width: 300px;
    margin: 0 auto;
}
#todoTop{
    display: flex;
    height: 30px;
    margin-bottom: 60px;
}
#content{
    width: 250px;
    padding: 10px;
    border:none;
    box-shadow: 0px 0px 3px #17bb7c;
}
#todoTop>input[type="button"]{
    width: 50px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    box-shadow: 0px 0px 3px #17bb7c;
    background-color: #fff;
    cursor: pointer;
}
#todoTop>input[type="button"]:hover{
    background-color: #90fdd3;
    box-shadow: 0px 0px 3px #333;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 4px;
    background-color: rgb(242, 201, 252);
    border-radius: 30px;
    padding: 10px;
}
.todo .btnBox>input[type="button"]{
    border: none;
    background-color: #fff;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}
.todo .btnBox>input[type="button"]:hover{
    background-color: #333;
    color: #fff;
}
.success{
    background-color: #e8e8e8;
}
.success>.content{
    text-decoration: line-through;
    color: #333;
}